h1{
  font-weight:700;
  font-size:45px;
  margin: 10px;
  margin-bottom :20px;
  color : white;
}
input{
  width: 100%;
}
.items-container{
  text-align:left;
}
.sk-button{
  min-width: 100px;
}
.sk-row{
  margin: 10px 5px ;
}
